*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    min-height: 100vh;
}



.card-img{
    background-image: linear-gradient(rgba(63, 16, 16, 0.5),rgba(12, 0, 0, 0.5)),url(IMG/hawaii.jpg);
}

.card-img-overlay{
    text-align:right;
    align-items:end ;
    display: flex;
}

.card2{

}

.oradores{
    text-align: center;
}
#card-text{
    color: black;
}

.boton{
    size: 10%;
}

.footer{
    background-color: rgb(28, 57, 73);
    padding: 20px 0;
    
}

.container1{
    max-width: 1200px;
    margin: 0 auto;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.footer-links{
    width: 13%;
    padding: 0 15px;
    
}

@media screen and (max-width:700px){

    footer-link{
      flex-direction:row;
    }
  }

  
.footer-links h4 a{
    font-size: 15px;
   color: azure;
   text-decoration: none;
   text-align: center;
    
}

.container{
    display: flex;
    gap:0 30px;
    padding: 0 150px;
  
}

.card-body h5{
    color: rgb(0, 0, 0) solid;
    font-size:25px;
}


.for-register{
display: flex;
flex-wrap: wrap;
justify-content:center;
}

.controles{
    
    margin:  20px;
    padding: 0 20px;
    width: 250px;

}



.consulta{

    width: 550px;flex-direction: row;
    text-align: left;
    margin-top: 30px;
    margin: 0 10px;
    align-items: center;
   margin: 0 200px;
    font-size: 20px;
}



.controls1{
    
    width: 550px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    margin-top: 10px;
    align-items: center;
    margin: 0 200px;
  background-color: rgb(150, 201, 62);
  color: rgb(255, 255, 255);
}

.conv{
    text-align: center;
}

.conv h4{
    font-size: 10px;
}

.conv p{
font-size: 12px;
}

.consulta h6{
    text-align: end;
    font-size: 12px;
    padding: 0 10px;
}




.header{

    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    background-color: rgb(53, 58, 64);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header h2{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: left;
    align-items:flex-start;
    
}

.header img{
width: 110px;
margin: 0 80px;

}

.navbar a{
    font-size: 18px;
    color: rgb(157, 156, 162);
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}

.navbar{
text-align: left;
}

#comprar{
    color: rgb(41, 167, 70);
}

#conf{
    color: white;
}
.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .titulo p{
  text-align: center;
  margin-top:7px;
  margin-bottom: 5px;
  }
  .titulo p+h3{
  
    text-align: center;
  margin-top:1px;
  }
  .btn-info {
  background-color: gray;
  color: var(--colorenlace);
  margin-top: 1px;
  border-style: none;
  }
  
  .custom-button{
   width: 25%;
  
  }
  .card{
  margin-top: 30px;
  
  }
  .image-container {
    border: 1px solid white;}
  
  .informe p{
    text-align: center;
   margin-bottom: 2px;
    }

    span{
        text-decoration: underline dotted;
      }
      #inputNombre {
        width: 75%;
       
      
      }
    
      #inputApellido {
        width: 75%;
      
      }
      textarea{
    height: 70px;
    
      }
      
     .mensaje p{
    text-align: left;
    margin-left: 325px;
    margin-top: 5px;
    font-size: 10px;
    color: gray;
      }
      
     .btn-success{
    
      background-color: var(--colorbtn);
      margin-top: 7px;
     }




.card-text h2{
font-size: 40px;
color: white;
}

.card-text{
    justify-content: end;
    text-align: end;
    color: white;
}

img{
    background-color: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
}

